<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142863303766-m54i9bpskh7smle81cm0c1getpverr3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142863303766-m54i9bpskh7smle81cm0c1getpverr3u</string>
	<key>API_KEY</key>
	<string>AIzaSyDBHoMl-Hlw4RTc56Bu3K12VLXlvtcZJds</string>
	<key>GCM_SENDER_ID</key>
	<string>142863303766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dersarco.mynotes</string>
	<key>PROJECT_ID</key>
	<string>my-notes-dersarco</string>
	<key>STORAGE_BUCKET</key>
	<string>my-notes-dersarco.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142863303766:ios:4eb7d3b11c230daeeae7f7</string>
</dict>
</plist>